/* ----------------------------------------
---- This file is for the custom fonts ----
---------------------------------------- */ 

/* Sun Antwerpen */
/*@font-face {
	font-family: "SunAntwerpen";
	src: url("../fonts/sun-antwerpen/SunAntwerpen_300.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}*/