<main>
	<div class="row">
	    <img class="background-img scroll" src="dist/img/wn1ch6ferbg-hannu-pekka-peuranen.jpg">
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h1>Welcome to DisCoverBand</h1>
					<p class="text-large">As Alice Cooper once said "Every good band in the world was a cover band first". Starting a coverband can be hard, so we've come up with something that can kickstart your cover carreer! To start a coverband, you need bandmembers, playing different instruments, coming together and making music together. But what if you could all play music at home, record that "one magnificent play", and then combine it with other people's best recordings, to a full, multi-insturment cover of the song!</p>	
				</div>
				<div class="search">
			      	<form>
			        	<div class="input-field">
			          		<input id="search" type="search" placeholder="Search for an ARTIST..." ng-model="home.filterData.artist">
			          		<input id="search" type="search" placeholder="or SONGTITLE" ng-model="home.filterData.title">
			        	</div>
			      	</form>
				</div>
				<div class="divider mar-top-l"></div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="section mar-top-m cf">
					<div class="col s12 m4">
						<div class="container-big">
							<h5 class="center">Upload</h5>
							<p>You've been practising this song for a while and are ready to share it with the world. Record it, upload it and you're off...</p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="container-big">
							<h5 class="center">Merge</h5>
							<p>Search for other covers of the same song, but on other instruments, so you can recreate the band's setup. Pick the best covers, make sure they're synced and you're done!</p>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="container-big">
							<h5 class="center">Enjoy</h5>
							<p>Rate the other instrument-covers, download and listen to your newly created cover, and share it with the world.</p>
						</div>
					</div>						
				</div>
				<div class="divider mar-top-xl"></div>
			</div>
		</div>
		<div class="row mar-btm-xl">
			<div class="col s12">
				<div class="section mar-top-l center cf">
					<div class="col s4 offset-s2">
						<h5 class="center light">Check out all solo tracks uploaded by users, waiting to be merged...</h5>
						<a ui-sref="solo" class="btn-flat primary-button-color mar-top-m">Solo Tracks</a>
					</div>
					<div class="col s4">
						<h5 class="center light">or check out what other coverbands have already created</h5>
						<a ui-sref="merged" class="btn-flat primary-button-color mar-top-m">Merged Tracks</a>
					</div>
				</div>					
			</div>
		</div>			
	</div>
</main>