<main class="band">
	<img class="background background-img" src="dist/img/wn1ch6ferbg-hannu-pekka-peuranen.jpg">

	<div class="container">
		
		<h1>Merge</h1>

		 	<div class="row">
      			<div class="col s12">
				    <div class="well">
				        <div class="page-header">
				            <h3>Selected tracks: </h3>
				        </div>

				        <span ng-hide="merge.thereAreTracks">No tracks added. <a ui-sref="solo">Click here to add some tracks!</a></span>
				 
				        <table class="table" ng-show="merge.thereAreTracks"> 
				        	<tr>
				        		<th>Name</th>
				        		<th>Instrument</th>
				        		<th>Track length</th>
				        		<th>Load</th>
				        	</tr>
				            <tr ng-repeat="track in merge.tracks">
				            	<td>
				                    {{track.songname}}
				                </td>
				                <td>
				                    {{track.instrument.name}}
				                </td>
				                <td>
				                    {{track.track_length}}
				                </td>
				                <td>
				                	<input type="checkbox" id="{{track.id}}" class="filled-in" />
									<label for="{{track.id}}"></label>
				                </td>
				            </tr>
				        </table>
				    </div>
					<div ng-repeat="track in merge.tracks" ng-show="merge.showTracks" class="audiotrack">
				    	<div id="waveform{{track.id}}" ></div>
				    	<a type="button" class="btn btn-danger" ng-click="merge.playPause(track.id)">Play/Pause<span aria-hidden="true" ></span></a>
				    	<a type="button" class="btn btn-danger" ng-click="merge.trim(track.id)">Trim<span aria-hidden="true" ></span></a>
					</div>
				    <div class="text-left audiotrack-controls">
				        <a type="button" class="btn btn-danger" ng-show="merge.thereAreTracks && !merge.showTracks" ng-click="merge.load()">Load <span aria-hidden="true" ></span></a>
				 		<a type="button" class="btn btn-danger" ng-show="merge.showTracks" ng-click="merge.playPauseAll()">Play/Pause all<span aria-hidden="true" ></span></a>
				 		<a type="button" class="btn btn-danger" ng-show="merge.showTracks" ng-click="merge.toPrevious()">Previous position<span aria-hidden="true" ></span></a>
				    </div>
				    <a type="button" class="btn btn-danger" ng-show="merge.showTracks" ng-click="merge.save()">Save <span aria-hidden="true" ></span></a>
				</div>
			</div>
	</div>
</main>