<main class="band">
	<img class="background background-img" src="dist/img/wn1ch6ferbg-hannu-pekka-peuranen.jpg">

	<div class="container">
		
		<h2>Step 1: Select tracks</h2>
		<div class="row">
      			<div class="col s12">
				    <div class="well">
				        <h3>Selected tracks: </h3>

				        <span ng-hide="merge.thereAreTracks">No tracks added. <a ui-sref="solo">Click here to add some tracks!</a></span>
				 
				        <table class="table" ng-show="merge.thereAreTracks"> 
				        	<tr>
				        		<th>Name</th>
				        		<th>Instrument</th>
				        		<th>Track length</th>
				        		<th>Load</th>
				        	</tr>
				            <tr ng-repeat="track in merge.tracks">
				            	<td>
				                    {{track.songname}}
				                </td>
				                <td>
				                    {{track.instrument.name}}
				                </td>
				                <td>
				                    {{track.track_length}}
				                </td>
				                <td>
				                	<input type="checkbox" id="{{track.id}}" class="filled-in" />
									<label for="{{track.id}}"></label>
				                </td>
				            </tr>
				        </table>
				    </div>
				    <div ng-show="merge.showTracks">
				    	<h2>Step 2: Sync all tracks</h2>
						<span>Use "trim" to cut a piece from the beginning of each individual track, until they sync up!</span>
					</div>
					<div class="sync-container">
						<div ng-repeat="track in merge.tracks" ng-show="merge.showTracks" class="audiotrack">
					    	<div id="waveform{{track.id}}" ></div>
					    	<a type="button" class="btn btn-danger" ng-click="merge.playPause(track.id)">Play/Pause<span aria-hidden="true"></span></a>
					    	<a type="button" class="btn btn-danger" ng-click="merge.trim(track.id)">Trim<span aria-hidden="true" ></span></a>
						</div>
					    <div class="text-left audiotrack-controls">
					        <a type="button" class="btn btn-danger primary-button-color" ng-show="merge.thereAreTracks && !merge.showTracks" ng-click="merge.load()">Load <span aria-hidden="true" ></span></a>
					 		<a type="button" class="btn btn-danger primary-button-color" ng-show="merge.showTracks" ng-click="merge.playPauseAll()">Play/Pause all<span aria-hidden="true" ></span></a>
					 		<a type="button" class="btn btn-danger primary-button-color" ng-show="merge.showTracks" ng-click="merge.toPrevious()">Previous position<span aria-hidden="true" ></span></a>
					    </div>
				    </div>
				</div>
				</div>
				<h2 ng-show="merge.showTracks">Step 3: Save!</h2>
				<a type="button" class="btn btn-danger primary-button-color" ng-show="merge.showTracks" ng-click="merge.save()">Save <span aria-hidden="true" ></span></a>
	</div>
</main>