<main class="solo">
	<img class="background background-img" src="dist/img/wn1ch6ferbg-hannu-pekka-peuranen.jpg">

	<div class="container">
		
		<h1>Solo Tracks</h1>

		<div class="row">
			<h2>Filter</h2>

			<form action="#">
				<div class="col s6">
					<label>Artist</label>
					<input type="text" name="artist" ng-model="solo.filterData.artist">
				</div>
				<div class="col s6">
					<label>Title</label>
					<input type="text" name="artist" ng-model="solo.filterData.title">
				</div>

				<div class="input-field col s2" ng-repeat="instrument in solo.instruments">
					<input type="checkbox" id="{{instrument.name}}" ng-model="solo.filterData[instrument.id]" checked="checked" />
					<label for="{{instrument.name}}">{{instrument.name}}</label>
				</div>
			</form>
		</div>

		<div class="divider mar-top-xl"></div>

		<div class="results">
			<h2 class="primary-color-text">Results</h2>

			
		    <div class="card horizontal" ng-repeat="track in solo.filteredTracks">
		      	<div class="card-image">
		        	<img class="{{track.instrument.name}}" src="dist/img/transparent.png" alt="{{track.instrument.name}}">
		      	</div>
		      	<div class="card-content">
			          	<p>{{track.songname}}</p>
			          	<p>{{track.artist.name}}</p>
			    </div>
			    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" ng-click="solo.addToBand(track)">add</i></a>
		    </div>
		    
		</div>
	</div>
</main>