<main>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title">Upload track</span>
           <div class="row">
            <div class="input-field col s12">
              <div ngf-select="upload.uploadFile($file)" ngf-drop="upload.uploadFile($file)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-accept="'audio/mp3'" ngf-pattern="'audio/mp3'" type="file" name="file" ng-hide="upload.loading">Drop/click here to upload</div>
              <span ng-show="upload.uploaded">File uploaded! You can always replace this file by uploading another.</span>
              <div id="upload-spinner" ng-show="upload.loading"></div>
              <input type="hidden" value="{{ upload.filename }}">
              <input type="hidden" value="{{ upload.tracklength }}">
            </div>
            <div ng-show="upload.showform">
            <div class="input-field col s12">
              <input type="text" ng-model="upload.songname">
              <label>Song name</label>
            </div>
            <div class="input-field col s12">
              <select ng-model="upload.instrumentsdropdown">
                  <option value="" disabled selected>Choose your option</option>
                  <option ng-repeat="instrument in upload.instruments" value="{{instrument.id}}">{{instrument.name}}</option>
              </select>
              <label>Instrument</label>
            </div>
            <div class="input-field col s12">
              <select ng-model="upload.artistsdropdown">
                  <option value="" disabled selected>Choose your option</option>
                  <option ng-repeat="artist in upload.artists" value="{{artist.id}}">{{artist.name}}</option>
              </select>
              <label>Original band</label>
            </div>
            <a class="waves-effect waves-light btn" ng-click="upload.save()">Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>