.card {
  background-color: $dark-grey;

  .card-content {
    .row {
      margin-bottom: 0px;
    }

    .contributors {
      margin-right: 25px;
    }

    .votes-count {
      position: relative;
      top: 5px;
      left: 40px;

      span {
        position: relative;
        left: 10px;
        top: -2.5px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .card-action {
    .play-pause {
      background-color: $dark-green;
    }
    .start {
      background-color: $dark-orange;
    }
    .trim {
      background-color: $dark-purple;
    }
  }
}

.card-button {
  &.add {
    background-color: $dark-green;

    i {
      font-size: 2rem;
      color: transparentize($dark-grey, 0.25);
      margin: 0 auto;
    }
  }

  &.remove {
    background-color: $dark-red;

    i {
      font-size: 2rem;
      color: transparentize($dark-grey, 0.25);
      margin: 0 auto;
    }
  }

  &.play {
    i {
      font-size: 2rem;
      color: $dark-green;
      margin: 0 auto;
    }
  }

  &.pause {
    i {
      font-size: 2rem;
      color: $dark-blue;
      margin: 0 auto;
    }
  }
}

.card-button:hover {
  cursor: pointer;
}