.sticky {
  position: fixed;
  top: 75px;
  width: 100px !important;
}

.manage-all {
  a {
    margin-top: 20px;

    &.play-pause {
      background-color: $dark-green;
    }
    &.start {
      background-color: $dark-orange;
    }
    &.trim {
      background-color: $dark-purple;
    }
  }
}

.audiotrack {
  margin: 20px 0;
  padding-bottom: 20px;

  a {
    margin-top: 30px;
  }
}

.audiotrack-controls a{
  margin:  0 20px 20px 0;
}

.switch label input[type="checkbox"]:checked+.lever {
  background-color: $dark-green;

  &:after {
    background-color: $dark-green;
  }
}