.modal {
  bottom: auto;

  h3 {
    color: $black;
  }

  input:focus {
    color: black !important;
    border-bottom: 1px solid $dark-green !important;
  }

  .modal-content {
    overflow: hidden;
    .spinner {
      padding: 50px 0;
    }
  }
}

#materialize-modal-overlay-1 {
  opacity: 0.8 !important;
}

#processing_modal {
  color: $black;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.trim-info {
  top: 15px;
  position: relative;
  left: 10px;
}

.trim-explanation {
  font-size: 18px;
}

#band_modal {
  background-color: transparentize($black, 0.05);
  border-top: 2px solid $dark-green;

  .modal-footer {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
  }

  .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
