nav {
  a:focus, a:hover {
    color: $white;
    text-decoration: none;
  }

  .brand-logo {
    font-size: 40px;
    color: $white;
    font-family: amplify;
  }

  .dropdown-button > .fa {
    height: 36px !important;
  }

  .dropdown-content li > a {
    color: #2D5696 !important;
  }

  li a {
    font-size: 16px;
    font-weight: 600;

    &.btn {
      font-size: 14px;
      font-weight: 600;
      padding: 0 25px !important;
    }
  }

  .left {
    li a {
      padding: 0 45px 0 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .right {
    li a {
      padding: 0 0 0 45px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}