nav {
  a:focus, a:hover {
    color: $white;
    text-decoration: none;
  }

  .brand-logo {
    font-size: 40px;
    color: $white;
    font-family: amplify;
  }

  .dropdown-button > .fa {
    height: 36px !important;
  }

  .dropdown-content li > a {
    color: #2D5696 !important;
  }
}