.title {
  font-size: 124px;
  position: absolute;
  color: $white;
  font-family: amplify;
  width: 100%;
  top: 20%;
}

.title-container {
  text-align: center;
}

.page-title {
  font-size: 72px;
  color: $white;
}