.title {
  font-size: 124px;
  position: absolute;
  color: $white;
  font-family: amplify;
  width: 100%;
  top: 20%;
}

.title-container {
  text-align: center;
}

.header-title,.page-title {
  font-size: 84px;
  color: $white;
  font-family: amplify;
}