<header>
	<div class="navbar-fixed">
		<nav class="primary-color">
		    <div class="nav-wrapper">
		      	<a ui-sref="home" class="brand-logo center">DisCoverBand</a>
		      	<ul id="nav-mobile" class="left hide-on-med-and-down">
			        <li><a ui-sref="solo">Solo Track</a></li>
			        <li><a ui-sref="merged">Merged Covers</a></li>
		      	</ul>

		      	<ul ng-if="!head.isAuthenticated()" class="right hide-on-med-and-down">
					<li><a ng-click="head.showLogin()">Login</a></li>
					<li><a ng-click="head.showRegister()">Register</a></li>
				</ul>
				<ul ng-if="head.isAuthenticated()" class="right hide-on-med-and-down">
					<li>You are logged in as {{ $root.username }}</li>
					<li ng-click="head.logout()"><a>Logout</a></li>
				</ul>
		    </div>
	 	</nav>
	</div>
</header>