<div id="register_modal" class="modal">
    <div class="modal-content">
      <h3>Register</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" ng-model="register.username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="register.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
            </div>
            <button class="btn btn-primary" ng-click="register.register()">Register</button>
        </form>
    </div>
  </div>