<div id="register_modal" class="modal">
    <div class="modal-content">
      <h3 class="page-title">Register</h3>
        <ul ng-show="register.errors">
          <li ng-repeat="error in register.errors" class="validation-error">{{ error }}</li>
        </ul>
        <form ng-hide="register.loading">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="register.username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="register.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
            </div>
            <button class="btn btn-primary primary-button-color" ng-click="register.register()">Register</button>
        </form>
        <div id="register-spinner" ng-show="register.loading" class="spinner"></div>
    </div>
</div>