<div id="login_modal" class="modal">
    <div class="modal-content">
      <h3>Login</h3>
        <form ng-hide="login.loading">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="login.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
            </div>
            <button class="btn btn-primary primary-button-color" ng-click="login.login()">Login</button>
        </form>
        <div id="login-spinner" ng-show="login.loading" class="spinner"></div>
    </div>
  </div>